<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stt.umc.app" >

    <application >
        <activity android:name="stt.umc.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="stt.umc.feature.receiver.MyAlarmReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.example.helloandroid.alarms" />
            </intent-filter>
        </receiver>

    </application>



</manifest>
